/* bodyの余白をなくす */
body {
    padding: 0px;
    margin: 0px;
}

/* ナビゲーションメニュー */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 20px auto 20px auto;
    max-width: 960px;
}

nav a {
    width: 300px;
    font-weight: bold;
    text-decoration: none;
    font-size: 34px;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
}

/* ナビゲーションメニューのMyProfileの部分 */
.home {
    border: 1px solid black;
    padding: 0px 20px;
    margin-left: 20px;
}

/* メニューの余白 */
.menu > a {
    margin-left: 20px;
    margin-right: 20px;
}

/* topボタン */
/* 位置：固定、下から38px、右から20px */
/* 背景色：黒色 */
/* 文字色：白色 */
/* テキストの水平方向の配置：中央寄せ */
/* 文字装飾：なし */
/* パディング：上下28px、左右24px */
/* 角丸：すべて50% */
/* フォントの種類：Noto Sans JP、sans-serif */
#top-btn {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 38px;
    right: 20px;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 28px 24px;
    border-radius: 50%;
    font-family: "Noto Sans JP", sans-serif;
    z-index: 1;
}

#top-btn.fade-in{
    visibility: visible;
    opacity: 1;
    transition: .8s;
}

#top-btn.fade-out{
    visibility: hidden;
    opacity: 0;
    transition: .8s;
}

/* 名前 */
.name {
    font-size: 24px;
    font-weight: bold;
}

h1 {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 34px;
    font-family: "Noto Sans JP", sans-serif;
}

p {
    font-size: 18px;
    font-family: "Noto Sans JP", sans-serif;
}

li {
    font-size: 18px;
    font-family: "Noto Sans JP", sans-serif;
}

/* divの 不要な空白を削除 */
div {
    font-size: 0;
}

/* メイン画像 */
.mainpic {
    width: 100%;
    /*height: 400px;*/
}

img {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

/* About */
.about {
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto 20px auto;
    max-width: 960px;
}

.about.fade-in {
    visibility: visible;
    opacity: 1;
    transition: .8s;
}

.about.fade-Out {
    visibility: hidden;
    opacity: 0;
    transition: .8s;
}

/* 丸く切り取る画像 */
.circle {
    border-radius: 50%;
    width: 280px;
    height: 280px;
    object-fit: cover;
    border: 3px solid #999;
    padding: 3px;
}

/* プロフィールの説明部分 */
.content {
    margin: 0 auto;
    padding-left: 40px;
}

/* Works */
.works {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 20px auto;
    max-width: 960px;
}

.works.fade-in{
    visibility: visible;
    opacity: 1;
    transition: .8s;
}

.works.fade-Out{
    visibility: hidden;
    opacity: 0;
    transition: .8s;
}

/* Worksの画像と説明部分 */
.item {
    padding-bottom: 60px;
    width: 25%;
}

/* Worksの画像と説明部分（2個目） */
.item_center {
    padding-right: 20px;
    padding-left: 20px;
}

/* フッター */
footer p {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Noto Sans JP", sans-serif;
}
/* 
.fade-in{
    visibility: visible;
    opacity: 1;
    transition: .8s;
}

.fade-Out {
    visibility: hidden;
    opacity: 0;
    transition: .8s;
} */


.moudel {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}


.moudel-img{
    position: absolute;
    width: 80%;
    max-width: 800px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.moudel.fade-in{
    visibility: visible;
    opacity: 1;
    transition: .8s;
}

.moudel.fade-Out{
    visibility: hidden;
    opacity: 0;
    transition: .8s;
}

#btn-close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 40px;
    border-style: none;
    background-color: transparent;
}

.item-img {
    cursor: pointer;
}



/* 横幅が767pxまでの場合 */
@media (max-width: 767px) {
    .item {
        width: 100%;
        text-align: center;
        padding-bottom: 40px;
    }
}
